# Ignorados por abrahan... (aun no se que hacer con estos directorios)
/bootstrap-4.3.1-dist

# IDE bluefish (LINUX Debian 9)
*.bfproject
*~

# IDE laravel/homestead (git repository)
/homestead

# composer
composer.phar
vendor

# netbeans (java proyects / Windows 7)
build
dist
private

# Files uploads in projects
uploads
avatars

# Ignorados automaticamente
