{% extends "layout.twig" %}

{% block content %}
	<h1>Add Job</h1>
	<form action="/jobs/add" method="POST">
		<label for="title">Title:</label>
		<input type="text" name="title"/>
		<br>
		<label for="description">Description:</label>
		<input type="text" name="description" />
		<br>
		<label for="months">Months:</label>
		<input type="number" name="months" />
		<br>
		<label for="visible">Visible:</label>
		<select name="visible">
			<option selected="" disabled="">...</option>
			<option value="0">No</option>
			<option value="1">Yes</option>
		</select>
		<br>
		<button type="submit">Save</button>
	</form>
{% endblock %}
