{% extends "layout.twig" %}

{% block content %}
	<h1>Login</h1>
	<div class="alert alert-primary" role="alert">
		{{ responseMessage }}	
	</div>
	<form action="/auth" method="POST">
		<input type="email" name="email" placeholder="Email"/>
		<input type="password" name="password" placeholder="Password"/>
		<button type="submit">Login</button>
	</form>
{% endblock %}
